<tr class='%(style)s' data-run="%(run_index)s">
	<td>%(desc)s</td>
	<td>%(count)s</td>
	<td>%(Pass)s</td>
	<td>%(fail)s</td>
	<td>%(error)s</td>
	<td><a href="javascript:showClassDetail_%(run_index)s('%(cid)s',%(count)s, %(run_index)s)">Detail</a></td>
</tr>
