<tr class='%(style)s'>
	<td>%(desc)s</td>
	<td>%(count)s</td>
	<td>%(Pass)s</td>
	<td>%(fail)s</td>
	<td>%(error)s</td>
	<td><a href="javascript:showClassDetail('%(cid)s',%(count)s)">Detail</a></td>
</tr>
